.Home {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 40px;
}

.HomeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: fit-content;
  /* width: fit-content; */
  width: 550px;
  
  margin: auto;
  margin-top: 30px;  
  font-size: large;

  border: solid darkblue 1px;

  border-radius: 25px;
  background-color:aliceblue;
  /* background-image:url( "../../pictures/background_img_01.jpg"); */

}

.HomeContainer * {
  padding: 15px;
}

.HomeContainer .smallFont {
  font-size: medium;
  justify-content: left;
}

.HomeContainer .mainFont {
  font-size: xx-large;
  font-weight: bolder;
}

.choosingFont {
  font-size: medium;
  padding: 0px;
  margin: 0px;
}

.choosingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choosingBtn {
  width: 200px;
  justify-self: right;
  justify-content: right;
}

.dropdown-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  max-height: 140px;
  overflow-y: auto;
}

.lobby-list {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.lobby-item {
  background:#34eb46;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 8vh;
  padding: 2px;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.lobby-item:hover {
  background-color: #009900;
  color: white;
  transform: scale(1.05);
}

.game-id {
  font-weight: bold;
  display: block;
}

.players {
  opacity: 0.8;
}

.no-lobbies {
  text-align: center;
  font-size: 1.2rem;
  color: gray;
}

