.Home {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 40px;
}

.HomeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: fit-content;
  /* width: fit-content; */
  width: 550px;
  
  margin: auto;
  margin-top: 30px;  
  font-size: large;

  border: solid darkblue 1px;

  border-radius: 25px;
  background-color:aliceblue;
  /* background-image:url( "../../pictures/background_img_01.jpg"); */

}

.HomeContainer * {
  padding: 15px;
}

.HomeContainer .smallFont {
  font-size: medium;
  justify-content: left;
}

.HomeContainer .mainFont {
  font-size: xx-large;
  font-weight: bolder;
}

.choosingFont {
  font-size: medium;
  padding: 0px;
  margin: 0px;
}

.choosingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choosingBtn {
  width: 200px;
  justify-self: right;
  justify-content: right;
}

.dropdown-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  max-height: 140px;
  overflow-y: auto;
}
