 .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  

  .sidebar-container {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #32D336;
    transition: left 0.3s ease-in-out;
    z-index: 1100;
    padding-top: 60px; 
  }
  

  .sidebar-container.open {
    left: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .sidebar-item {
    background-color: #32D336;;
    border: none;
    padding: 12px;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    transition: background 0.2s;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  
  .sidebar-item.logout {
    color: #f44336;
  }
  

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1099;
  }

  .sidebar-item svg { 
    margin-right: 13px;    
  }
  